<!--
<div *ngIf="!startGame;else StartGame">
  <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin)" >
    <input type = "text" [(ngModel)]="hero1Name" name = "Hero1Name" placeholder = "Hero1 Name"   required>
    <br/>
    <input type = "text" [(ngModel)]="hero2Name" name = "Hero2Name" placeholder = "Hero2 Name"  required>
    <br/>
    <button type = "submit" >submit </button>
  </form>
</div>
<ng-template #StartGame><ngx-snake [hero1Name]="hero1Name" [hero2Name]="hero2Name"></ngx-snake></ng-template>
-->
<ngx-snake></ngx-snake>




